{% extends 'layout.html' %}
{% block css %} {{url_for('static', filename = 'CSS/estadisticas.css' )}} {% endblock %}
{% block content %}
  <div class="contenedorPrincipal">
      <div class="tabla">
            <div>
              <div>Temporadas Jugadas: </div> 
              <div>31</div> 
            </div>
            <div>
                <div>Total de partidos:</div>
                <div>271</div>
            </div>
            <div>
                <div>Títulos ganados: </div>
                <div>11</div>
            </div>
            <div>
                <div>Puntos máximos totales: </div>
                <div>24</div>
            </div>
            <div>
                <div>Ascensos:</div>
                <div>12</div>
            </div>
            <div>
                <div>
                    Descensos:
                </div>
                <div>
                    3
                </div>
            </div>
      </div>
      <div class="grafico">
          <img src="Imagenes/graficooo.png" alt="grafico">
      </div>
  </div>
{% endblock %}