{% extends 'layout.html' %}

{% block css %} {{url_for('static', filename = 'CSS/index.css' )}} {% endblock %}

{% block content %}
  <div class="contenedorPrincipal">
      <div class="registro">
        <div>
          Se parte del mejor equipo del mundo! 
        </div>


        <!-- {% for usuario in usuarios %} Uso de python: Recorro los usuarios que se registran -->




        <!-- {% endfor %} -->


        <div>
            <a href="/registrarse"><button type="button" class="btn">Asociarme</button></a>
        </div>  
      </div>
      <div>
          <img src="{{url_for('static', filename = 'Imagenes/index.jpeg')}}" alt="Jugador de fondo">
      </div>
  </div>



  <!-- <table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de nacimiento</th>
            <th>Sexo</th>
            <th>Tipo de documento</th>
            <th>Numero de documento</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario['nombre']}}</td>
            <td>{{usuario['apellido']}}</td>
            <td>{{usuario['fecha']}}</td>
            <td>{{usuario['sexo']}}</td>
            <td>{{usuario['tipo_doc']}}</td>
            <td>{{usuario['num_doc']}}</td>
            <td>{{usuario['telefono']}}</td>
            <td>{{usuario['email']}}</td>
            <td>
                {% if  usuario['foto'] != None %}
                    <img width="100" src="{{ url_for('uploads', imagen = usuario['foto']) }}" alt="{{ usuario['apellido'] }}">
                {% else %}
                    <img src="Imagenes/descarga.png" alt="{{ usuario['apellido'] }}">
                {% endif %}
            </td>
            <td>
                <a href="/edit/{{ usuario['id_usuario'] }}">Editar</a>
            </td>
            <td>
                <a href="/delete/{{ usuario['id_usuario'] }}">Borrar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table> -->

{% endblock %}

{% block js %} {{url_for('static', filename = 'javaScript/formulario.js' )}} {% endblock %}