{% extends 'layout.html' %}

{% block css %} {{url_for('static', filename = 'CSS/momentazos.css' )}} {% endblock %}

{% block content %}
  <div class="contenedorPrincipal"  id="videos">
      <div class="botones">
          <button onclick="cambiarVideo(this)">
              Triple errada
          </button>
          <button onclick="cambiarVideo(this)">
              Golazo... en contra
          </button>
          <button onclick="cambiarVideo(this)">
              Golazo maradoniano
          </button>
          <button onclick="cambiarVideo(this)">
              Mejor remontada
          </button>
          <button onclick="cambiarVideo(this)">
              Celebración épica
          </button>
          <button onclick="cambiarVideo(this)">
              Bombazo
          </button>
          <button onclick="cambiarVideo(this)">
              Caño
          </button>
          <button onclick="cambiarVideo(this)">
              Chilenarda
          </button>
          <button onclick="cambiarVideo(this)">
              Inexplicable gol
          </button>
          <button onclick="cambiarVideo(this)">
              Escorpión
          </button>
          <button onclick="cambiarVideo(this)">
              Bala de cañón
          </button>
          <button onclick="cambiarVideo(this)">
              Rabona
          </button>
          <button onclick="cambiarVideo(this)">
              Picadita
          </button>
          <button onclick="cambiarVideo(this)">
              Ca ña zo
          </button>
          <button onclick="cambiarVideo(this)">
              Patadón
          </button>
          <button onclick="cambiarVideo(this)">
              Tiki-taka
          </button>
          <button onclick="cambiarVideo(this)">
              Destruccion
          </button>
          <button onclick="cambiarVideo(this)">
              Resorte
          </button>
      </div>
      <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-LDEMXhNfI0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  </div>
  
{% endblock %}